<ul class="nav nav-tabs">
    <li><a href="#Omschrijving" data-toggle="tab">Omschrijving</a></li>
    <li><a href="#Ligging" data-toggle="tab">Ligging</a></li>
    <li><a href="#Energie" data-toggle="tab">Energie</a></li>
    <li><a href="#Financieel" data-toggle="tab">Financieel</a></li>
</ul>
<div class="tab-content">
      <div class="tab-pane active" id="Omschrijving">
            <p>basic info on prijs</p>

      </div>
      <div class="tab-pane" id="Ligging">...</div>
      <div class="tab-pane" id="Energie">...</div>
      <div class="tab-pane" id="Financieel">...</div>
</div>